{% extends "index.html" %}


{% block html_title %}
    Лекарство {{ lekarstvD.name }}
{% endblock %}

{% block application %}

    <div>
        <h2>{{ lekarstvD.name }}</h2>
        {% if lekarstvD.photo %}
            <img src="{{ lekarstvD.photo.url }}" alt="{{ lekarstvD.name }}">
        {% endif %}
        <div>{{ lekarstvD.price }}</div>
        <div>{{ lekarstvD.address }}</div>
    </div>

<a href="{% url 'list' %}">Список лекарств..</a>

    <div>
    <h2>Запрос</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="submit" value="Отправить">

        </form>
    </div>

{% endblock %}


