{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
  <style>
    h1 {
    color: #ff8800; /* Цвет символа */
    }
    </style>

    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title"> БЛОГ </h1>
        </div>
    </div>

     <div class="container">
         <form action="">
             <input name="query" type="text" value={{query|default:''}} >
             <button type="submit" class="btn btn-primary"> Найти </button>
         </form>

        {% for post in post_list %}
            <h2>
                {{ post.title }}
            </h2>
            <p>
                {{ post.text|truncatewords:30 }}
                <br>
                <a href="{% url 'post_detail' post.id %}">Читать далее..</a>
            </p>
            <p>
                {{ post.date_create }}
            </p>
            <hr>
        {% endfor %}
    </div>

    <div class="container">
    <ul>
        <p><a href="{% url 'test' %}">Test..</a></p>
        <p><a href="{% url 'list' %}">Лекарства..</a></p>
    </ul>
    </div>
{% endblock content %}