{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <title>Test</title>


    <style>
    A {
    color: red; /* Цвет символа */
    }
    #name {
    color: #4300ff; /* Цвет символа */
    }
    </style>

    <h2><a href="{% url 'post_list' %}">TEST</a> </h2>

    <div>
    <h2>Запрос</h2>
        <form action="" method="post">
            {% csrf_token %}
                <div class="col-xs-3">
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary"> Отправить </button>
                    {% endbuttons %}
                </div>
        </form>
    </div>
    <br>
    <br>
    <br>
    <p ID="name">
        {{ name|default:"" }}
    </p>






{% endblock content %}